:root{

  --primary-color: #272727;
  --secondary-color: #727272;
  --tertiary-color: #ffffff;

  --space-unit: 1rem;
  --space-unit-sm: 0.5rem;
  --space-unit-md: 1.4rem;
  --font-family: "Montserrat", sans-serif;
  --font-size: 12px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.grid{
  display: grid;
  height: 100%;
  grid-template-rows: repeat(28, 1fr);
  grid-auto-columns: 360px;
  gap: 10px;
  grid-auto-flow: column;
  margin: var(--space-unit-sm);
  justify-content: center;
}

.grid__block{
  display: flex;
  align-items: center;
  padding: var(--space-unit);
  border-radius: 8px;
  background-color: var(--tertiary-color);
  box-shadow: 2px 2px 4px var(--secondary-color);
  width: 100%;
}

.grid__rank{
text-align: center;

}

.grid__rank p, span{
  font-weight: 500;
  margin-left: var(--space-unit-sm);
}

.grid__combination{
  text-align: center;
}
.grid__id, .grid__price{
  font-size: var(--font-size);
}

.grid__img{
  width: 85px;
  height: 65px;
  background-image: url('https://assets.axieinfinity.com/axies/10941488/axie/axie-full-transparent.png');
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 748px) and (max-width: 1099px) {
  .grid {
    grid-template-rows: repeat(14, 1fr);
  }
} 

@media (min-width: 1100px) and (max-width: 1499px) {
  .grid {
    grid-template-rows: repeat(10, 1fr);
  }
} 

@media (min-width: 1500px){
  .grid {
    grid-template-rows: repeat(7, 1fr);
    gap: 16px;
  }
  span{
    margin-right: var(--space-unit-sm);  
  }
} 
